@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
    --control-corner-radius: 8px;
    --animation-duration: 0.3s;
    --animation-ease: cubic-bezier(0.4, 0, 0.2, 1);
    --font-family: 'Cascadia Code', monospace;
    --blur-effect: blur(10px);

    --background-color: #f1f1f1;
    --smoke-background-color: #0000001f;
    --text-color: #333;
    --alt-text-color: #f3f3f3;
    --panel-background: #ffffffaa;
    --border-color: #ccc;
    --input-background-color: white;
    --button-background-color: #f1f1f1;
    --button-active-background-color: #dfdfdf;
    --accordion-button-hover-background-color: #dfdfdf;
    --focus-color: darkgreen;
    --green-color: yellowgreen;
    --blue-color: dodgerblue;
    --dotted-background: radial-gradient(#e2e2e2 5%, #ffffff1f 15%);
    --overlay-background: linear-gradient(135deg, #1e90ff2f 0%, #ffffff00 50%, #9acd324f 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0e0e0e;
        --smoke-background-color: #ffffff1f;
        --text-color: #f3f3f3;
        --alt-text-color: #333;
        --panel-background: #1e1e1ecc;
        --border-color: #555;
        --input-background-color: #2d2d2d;
        --button-background-color: #2d2d2d;
        --button-active-background-color: #3a3a3a;
        --accordion-button-hover-background-color: #3a3a3a;
        --focus-color: yellowgreen;
        --green-color: #ccff66;
        --blue-color: #66ccff;
        --dotted-background: radial-gradient(#383838 5%, #0000001f 15%);
        --overlay-background: linear-gradient(135deg, #66ccff2f 0%, #ffffff00 50%, #ccff662f 100%);
    }
}

* {
    transition: all var(--animation-duration) var(--animation-ease);
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--background-color);
    margin: 0px;
    padding: 0px;
}

body.popup-open {
    overflow: hidden;
}

.dotted-background {
    background-position: 0 0, 14px 14px;
    background-size: 16px 16px;
    width: 100%;
    height: 100%;
    background-image: var(--dotted-background);
    position: fixed !important;
    z-index: -1;
}

.overlay-background {
    background: var(--overlay-background);
    width: 100%;
    height: 100%;
    position: fixed !important;
    z-index: -2;
}

.page-header {
    position: absolute;
    display: flex;
    gap: 8px;
    padding: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 0px;
    left: 0px;
    max-width: 100%;
    border: 1px solid transparent;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    width: unset;
    background: var(--panel-background);
    border-radius: var(--control-corner-radius);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    z-index: 1000;
    backdrop-filter: var(--blur-effect);
}

header label {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 16px;
    display: block;
    margin: 0px 8px;
}

.nav-smoke-background {
    display: none;
    background: var(--smoke-background-color);
    backdrop-filter: var(--blur-effect);
    width: 100%;
    height: 100%;
    position: fixed !important;
    z-index: 2;
}

.navlist {
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.navlist li {
    display: inline;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    background: none;
    border: 1px solid transparent;
    height: 32px;
    padding: 10px 8px;
}

.hamburger div {
    width: 24px;
    height: 1px;
    background-color: var(--text-color);
}

.hamburger:hover div {
    background-color: var(--focus-color);
}

@media (max-width: 1024px) {
    .hamburger {
        display: flex;
    }

    .navlist {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 50px;
        left: 8px;
        background: var(--panel-background);
        border-radius: var(--control-corner-radius);
        border-color: var(--border-color);
        border-width: 1px;
        border-style: solid;
        z-index: 1000;
        padding: 8px;
    }

    body.nav-open .navlist {
        display: flex;
    }

    body.nav-open .nav-smoke-background {
        display: block;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

p {
    margin: 0px;
}

strong {
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--focus-color);
    padding: 4px 8px;
    border-radius: var(--control-corner-radius);
}

a:hover {
    background-color: var(--button-background-color);
    color: var(--focus-color);
}

a:active {
    background-color: transparent;
    color: var(--text-color);
}

button {
    padding: 12px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--border-color);
    background-color: var(--button-background-color);
    border-radius: var(--control-corner-radius);
    cursor: pointer;
    color: inherit;
    flex-shrink: 0;
}

button:hover {
    background-color: var(--button-active-background-color);
    color: inherit;
}

button:active {
    border-color: var(--focus-color);
    color: var(--focus-color);
    background-color: transparent;
}

.svg-path {
    fill: var(--text-color);
}

button:hover .svg-path {
    fill: var(--focus-color);
}

#main {
    position: relative;
    padding: 20px;
    top: 50px;
    gap: 20px;
    display: grid;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    grid-column: span 1;
}

.group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background: var(--panel-background);
    border-radius: var(--control-corner-radius);
    padding: 20px;
    border: 1px solid var(--border-color);
    backdrop-filter: var(--blur-effect);
    overflow: hidden;
}

.sub-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    background-color: transparent;
    color: var(--text-color);
}

.label-cell {
    font-weight: bold;
    padding: 8px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    max-width: 100px;
}

.value-cell {
    padding: 8px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}

.timeline-list {
    border: 0px solid var(--focus-color);
    border-left-width: 1px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

.timeline-list li {
    margin-left: 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    ;
}

.timeline-list li:last-child {
    margin-bottom: 1em;
}

.timeline-list li::before {
    content: '';
    display: block;
    position: relative;
    margin-bottom: -20px;
    top: calc(1em - 4px);
    left: calc(-1em - 9px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--focus-color);
    border: 4px solid var(--background-color);
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--button-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--control-corner-radius);
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    background-color: var(--button-active-background-color);
    border-color: var(--focus-color);
}

.card:active {
    background-color: transparent;
    border-color: var(--focus-color);
}

.card h4 {
    margin: 0px;
    font-size: 18px;
    font-weight: 800;
}

.card p {
    margin: 0px;
    font-size: 14px;
}

.badge-area {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.badge {
    padding: 4px 8px;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--smoke-background-color);
    backdrop-filter: var(--blur-effect);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup[aria-hidden="false"] {
    display: flex;
}

.popup-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 20px;
    background-color: var(--panel-background);
    border: 1px solid var(--focus-color);
    border-radius: var(--control-corner-radius);
    max-width: 400px;
    text-align: center;
}

.loading-progress-bar {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    overflow: hidden;
    z-index: 1000;
}

.loading-progress-bar::before {
    display: block;
    content: '';
    transform-origin: 0% 50%;
    width: 100%;
    height: 100%;
    background-color: var(--focus-color);
    animation: indeterminateAnimation 1.5s infinite linear;
}

@keyframes indeterminateAnimation {
    0% {
        transform: translateX(0) scaleX(0);
    }

    40% {
        transform: translateX(0) scaleX(0.4);
    }

    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}